# Welcome to Module 1!

## In this module we will be going over concepts related to Python programming language discussed in Module 1

## Integer values

In [1]:
x = 5
y = -10
z = 0
print("x=", x)
print("y=", y)
print("z=", z)

x= 5
y= -10
z= 0

## Floating point values

In [2]:
a = 5.5
b = -0.01
c = 100.0
print("a=", a)
print("b=", b)
print("c=", c)

a= 5.5
b= -0.01
c= 100.0

## Strings

In [3]:
name = "Alice"
greeting = 'Hello, World!'
paragraph = """This is a
multi-line string."""

print(name)
print(greeting)
print(paragraph)

Alice
Hello, World!
This is a
multi-line string.

## Arithmetic Operators

In [4]:
x = 10
y = 3

addition = x + y       # Result: 13
subtraction = x - y    # Result: 7
multiplication = x * y # Result: 30
division = x / y       # Result: 3.3333...
modulo = x % y         # Result: 1
exponentiation = x ** y# Result: 1000
floor_division = x // y# Result: 3

print(addition)
print(subtraction)
print(multiplication)
print(division)
print(modulo)
print(exponentiation)
print(floor_division)

13
7
30
3.3333333333333335
1
1000
3

## Comparison Operators (Task 1: Print the results of the comparison operators)

In [34]:
x = 10
y = 7

equal = (x == y)         # Result: False
not_equal = (x != y)     # Result: True
greater_than = (x > y)   # Result: True
less_than = (x < y)      # Result: False
greater_or_equal = (x >= y)  # Result: True
less_or_equal = (x <= y)     # Result: False

print("x and y are equal: ",equal)
print("x and y are not equal: ",not_equal)
print("x is greater than y: ",greater_than)
print("x is less than y: ",less_than)
print("x is greater than or equal to y: ",greater_or_equal)
print("x is less than or equal to y: ",less_or_equal)

x and y are equal:  False
x and y are not equal:  True
x is greater than y:  True
x is less than y:  False
x is greater than or equal to y:  True
x is less than or equal to y:  False

## Logical Operators (Task 2: Print the results of the comparison operators)

In [22]:
x = True
y = False

and_operation = x and y    # Result: False
or_operation = x or y      # Result: True

not_operation = not x      # Result: False


print(and_operation)
print(or_operation)
print(not_operation)

False
True
False

## if-elif-else

In [32]:
temperature = 20

if temperature < 0:
    status = "freezing"
elif temperature < 20:
    status = "cool"
else:
    status = "warm"

print(status)

warm

## Nested if statements

In [27]:
age = 24
citizenship = "Aus"

if age > 21:
    if citizenship == "US":
        status = "Eligible to vote in the US"
    else:
        status = "Not eligible to vote in the US"
else:
    status = "Too young to vote"

print(status)

Not eligible to vote in the US

## for Loop

In [36]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Iterating over a range
for i in range(3):
    print(i)

apple
banana
cherry
0
1
2

## while Loop

In [38]:
count = 0

while count < 3:
    print(count)
    count += 1

0
1
2

## Break and Continue Statements

In [40]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [41]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

## Nested for Loop

In [46]:
for i in range(2):
    for j in range(3):
        print(f"(i, j) = ({i}, {j})")

(i, j) = (0, 0)
(i, j) = (0, 1)
(i, j) = (0, 2)
(i, j) = (1, 0)
(i, j) = (1, 1)
(i, j) = (1, 2)

## Ternary Expressions

In [44]:
age = 17
status = "adult" if age >= 18 else "minor"
print(status)

minor

## Implement a simple age categorization system.

In [31]:
age = 18

if age < 13:

    category = "child"

elif age < 18:

    category = "teenager"

else:

    category = "adult"

print(category)

adult

## Implement a loop to calculate the sum of first 'n' numbers.

In [37]:
n = 5

sum = 0

for i in range(1, n+1):

    sum += i

print(sum)

15

## Construct a loop to count even numbers up to a limit.

In [39]:
limit = 10

number = 0

while True:

    if number > limit:

        break

    if number % 2 == 0:

        print(number)

    number += 1

0
2
4
6
8
10