## Module 2: Data Structures

##Lists

In [1]:
my_list = [10, "Python", 3.14, "Hello"]
my_list.append("World")
print(my_list)

[10, 'Python', 3.14, 'Hello', 'World']

## List Operations

In [2]:
# Initializing a list
fruits = ["apple", "banana", "cherry"]

# Append operation
fruits.append("orange")
print(fruits)  # ['apple', 'banana', 'cherry', 'orange']

# Remove operation
fruits.remove("banana")
print(fruits)  # ['apple', 'cherry', 'orange']

# Insert operation
fruits.insert(1, "kiwi")
print(fruits)  # ['apple', 'kiwi', 'cherry', 'orange']

# Index operation
index_cherry = fruits.index("cherry")
print(index_cherry)  # 2

# Sort operation
fruits.sort()
print(fruits)  # ['apple', 'cherry', 'kiwi', 'orange']

['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
['apple', 'kiwi', 'cherry', 'orange']
2
['apple', 'cherry', 'kiwi', 'orange']

## Indexing and Slicing Lists

In [29]:
# Initializing a list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Indexing
first_element = numbers[0]       # 0
last_element = numbers[-1]      # 9
print(f"First element in the list:{first_element}")
print(f"Last element in the list:{last_element}")

# Slicing
first_three = numbers[:3]       # [0, 1, 2]
last_three = numbers[-3:]
even_numbers = numbers[::2]     # [0, 2, 4, 6, 8]
odd_numbers = numbers[1::2]
reverse_list = numbers[::-1]    # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

print(f"First three numbers in the list are {first_three}")
print(f"Last three numbers are {last_three}")
print(f"Even numbers in the list are {even_numbers}")
print(f"Odd numbers in the list are {odd_numbers}")
print(f"Reverse of the list is {reverse_list}")

First element in the list:0
Last element in the list:9
First three numbers in the list are [0, 1, 2]
Last three numbers are [7, 8, 9]
Even numbers in the list are [0, 2, 4, 6, 8]
Odd numbers in the list are [1, 3, 5, 7, 9]
Reverse of the list is [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Tuples

In [30]:
# Defining a tuple
planets = ("Mercury", "Venus", "Earth", "Mars")
print(planets)

('Mercury', 'Venus', 'Earth', 'Mars')

## Tuple Operations

In [34]:
# Initializing a tuple
colors = ("red", "blue", "green", "red", "yellow")

# Indexing
first_color = colors[0]        # 'red'
print(first_color)
# Slicing
primary_colors = colors[:2]    # ('red', 'blue')
print(primary_colors)

# Count operation
red_count = colors.count("red")  # 2
print(f"No. of times the color red appeared in the tuple: {red_count}")

# Length operation
total_colors = len(colors)      # 5
print(total_colors)

red
('red', 'blue')
No. of times the color red appeared in the tuple: 2
5

## Arrays

In [35]:
from array import array

# Initializing an array of integers ('i' typecode)
int_array = array('i', [1, 2, 3, 4, 5])

# Accessing and modifying elements
int_array[2] = 6

## Array Operations

In [36]:
from array import array

# Initializing an array of integers
numbers = array('i', [1, 2, 3, 4, 5])

# Append operation
numbers.append(6)
print(f"After append:{numbers}")

# Extend operation
numbers.extend([7, 8])
print(f"After extend:{numbers}")

# Pop operation
numbers.pop()
print(f"After the pop operation:{numbers}")

# Index operation
index_four = numbers.index(4)
print(f"Getting the index of 3 in array:{index_four}")

# Count operation
count_threes = numbers.count(3)
print(f"Number of times 3 appear in the array is: {count_threes}")

# Reverse operation
numbers.reverse()
print(f"After reversing the array:{numbers}")

After append:array('i', [1, 2, 3, 4, 5, 6])
After extend:array('i', [1, 2, 3, 4, 5, 6, 7, 8])
After the pop operation:array('i', [1, 2, 3, 4, 5, 6, 7])
Getting the index of 3 in array:3
Number of times 3 appear in the array is: 1
After reversing the array:array('i', [7, 6, 5, 4, 3, 2, 1])

##Dictionaries

In [37]:
# Initializing a dictionary
person = {
    "name": "John Doe",
    "age": 30,
    "is_student": False
}

# Accessing values using keys
person_name = person["name"]
print(person_name)

John Doe

## Dictionary Operations

In [43]:
# Initializing a dictionary
book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949
}
print(book)
# Add/Update entry
book["publisher"] = "Penguin Books"
book["year"] = 1950
print(book)

# Remove entry
del book["year"]
print(book)
# Get value
author_name = book.get("author")
print(author_name)
# List keys and values
all_keys = book.keys()
all_values = book.values()

# Check key existence
has_title = "title" in book

print(all_keys)
print(all_values)
print(has_title)

{'title': '1984', 'author': 'George Orwell', 'year': 1949}
{'title': '1984', 'author': 'George Orwell', 'year': 1950, 'publisher': 'Penguin Books'}
{'title': '1984', 'author': 'George Orwell', 'publisher': 'Penguin Books'}
George Orwell
dict_keys(['title', 'author', 'publisher'])
dict_values(['1984', 'George Orwell', 'Penguin Books'])
True

## Sets

In [45]:
# Creating a set
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [46]:
# Adding an element
fruits.add("orange")
print(fruits)

{'apple', 'banana', 'orange', 'cherry'}

In [47]:
# Removing an element
fruits.remove("banana")
print(fruits)

{'apple', 'orange', 'cherry'}

In [48]:

# Union and Intersection
other_fruits = {"grape", "apple"}
combined = fruits | other_fruits
common = fruits & other_fruits

print(other_fruits)
print(combined)
print(common)

{'grape', 'apple'}
{'apple', 'cherry', 'grape', 'orange'}
{'apple'}

## Set Operations

In [49]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

In [53]:
# Union
union_set = A | B
print(f"AUB is {union_set}")

AUB is {1, 2, 3, 4, 5, 6}

In [54]:
# Intersection
intersection_set = A & B
print(f"A intersection B is :{intersection_set}")

A intersection B is :{3, 4}

In [56]:
# Difference
difference_set = A - B
print(f"Elements that are in A but not in B: {difference_set}")

# Symmetric Difference
symmetric_diff = A ^ B
print(f"Combined elements that are not in the other set: {symmetric_diff}")

Elements that are in A but not in B: {1, 2}
Combined elements that are not in the other set: {1, 2, 5, 6}

In [58]:
# Subset and Superset Check
is_subset = A.issubset(B)
is_superset = A.issuperset(B)
print(is_subset)
print(is_superset)

False
False

In [60]:
numbers = [10, 20, 30, 40, 50]

squared = [num**2 for num in numbers if num > 25]

numbers.insert(2, 25)

print(numbers)
print(squared)

[10, 20, 25, 30, 40, 50]
[900, 1600, 2500]

In [62]:
data = (10, "apple", 2.5)

num, fruit, value = data
print(num)
print(fruit)
print(value)

reversed_data = data[::-1]
print(reversed_data)

10
apple
2.5
(2.5, 'apple', 10)

In [65]:
person = {"name": "John", "age": 30, "city": "New York"}


person["skills"] = ["Python", "SQL"]
print(person)

age = person.pop("age")
print(age)


items = person.items()
print(items)

{'name': 'John', 'age': 30, 'city': 'New York', 'skills': ['Python', 'SQL']}
30
dict_items([('name', 'John'), ('city', 'New York'), ('skills', ['Python', 'SQL'])])

In [68]:
fruits = {"apple", "banana", "cherry"}

berries = {"strawberry", "blueberry", "cherry"}


unique_fruits = fruits - berries
print(unique_fruits)

combined = fruits.union(berries)
print(combined)

{'apple', 'banana'}
{'apple', 'strawberry', 'cherry', 'banana', 'blueberry'}